@media only screen and (max-height: 720px)
{
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
  html
  {
    scroll-behavior: smooth;
  }
  body
  {
    font-family: 'DotGothic16', sans-serif;
  }
  .jumbotron
  {
    background-color: #bbeca5;
      /* background-color: transparent; */
  }
  
    .flex-wrapper {
      background-color:rgb(85, 85, 85) ;
      border: 2px solid transparent;
      border-radius: 20px;
      margin: 5px;
      display: flex;
      flex-flow: row nowrap;
    }
    
    .single-chart {
      width: 33%;
      justify-content: space-around ;
    }
    
    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 80%;
      max-height: 250px;
    }
    
    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3.8;
    }
    
    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }
    
    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }
    
    .circular-chart.orange .circle {
      stroke: #ff9f00;
    }
    
    .circular-chart.green .circle {
      stroke: #4CC790;
    }
    
    .circular-chart.blue .circle {
      stroke: #3c9ee5;
    }
    .circular-chart.pink .circle {
      stroke: #e593e1;
    }
    .circular-chart.sky .circle {
      stroke: #61c7e6;
    }
    .circular-chart.light .circle {
      stroke: #db0d17;
    }
    .percentage {
      fill: rgb(0, 0, 0);
      font-family: sans-serif;
      font-size: 0.5em;
      text-anchor: middle;
    }
    
    .projects
    {
        display: flex;
        margin-top: 2%;
        margin-bottom:2%;
        flex-wrap: wrap;
    }
    .card
    {
        margin: 5%;
        background-color: rgb(241, 241, 241);
    }
    .soc
  {
    background-color: #bbeca5;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-direction: row;
  }
  .soc li
  {
      list-style: none;
      margin:10px 10px;
      transition: all .2s ease-in-out;
  }
  .soc li:hover
  {
      transform: scale(1.1); 
  }
  .soc li a
  {
      padding-bottom: 2px;
  }
  .heading
  {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2%;
  }
  .contact
  {
      display: flex;
      justify-content: center;
    color: #666;
  }
  .headings
  {
    display: flex;
    justify-content: center;
    margin: 2%;
  }
}